.used-class {
background: black;
}

.used-class-extra {
background: black;
}

.defined-once-used-once {
background: black;
}

.not-used-class {
background: black;
}

.nesting .five .levels .deep .used-class {
background: black;
}

.nesting .five .levels .deep .not-used-class {
background: black;
}

.action-dislike {
display:block;
}